.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 250px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    cursor: pointer;
}

.content {
    border-radius: 15px;
}

.button {
    margin: auto;
    color: black;
    background-color: rgb(226, 226, 226);
}