<input class="search" type="text" placeholder="Search" [(ngModel)]="searchText">

<div class="container">

    <mat-card routerLink="/detail/{{pokemon.name}}" class="card" *ngFor="let pokemon of pokemons | search:searchText">

        <mat-card-title class="title">
            {{pokemon.name}}
        </mat-card-title>
    
        <mat-card-content class="content" style="background-image: url(https://cdn.lospec.com/thumbnails/gallery/fortenzz/vastness-default.png);">
            <img mat-card-lg-image [src]="pokemon.sprites.front_default" alt="Pokemon">
        </mat-card-content>

    </mat-card>
</div>

